@media screen and (min-width:1020px) and (max-width:1290px){

.about_right_m .partn_div {
    width: 94%;
    margin: 35px 3% 0;
}
.about_right_m .partn_div h3{
	margin-right: 0;
}
.about_right_m .partn_div ul {
    width: 94%;
    margin: 20px 0px 0px 6%;
}

}
