/*投资期限select*/
.cal_list li .cal_tzqx{width: 40px;}

@media screen and (min-width:1020px) and (max-width:1290px){
body .left_title{
	width: 970px;
}
body .calcul_bod {
    width: 970px;
    padding: 25px 30px;
    box-sizing: border-box;
}
body .cal_list li{
	width: 24%;
}
body .cal_list li:nth-of-type(4){
	width: 27%;
}
body .cal_list li div {
    width: 120px;
}
body .cal_list li div input {
    width: 70px;
}
body .cal_list li .cal_hkfs {
    width: 160px;
	transition: none;
}
body .cal_btn_js {
    margin: 190px auto 40px;
    float: none;
    display: block;
} 
body .cal_jsjg{
	width: 100%;
	position: relative;
}
body .cal_jsjg h3{
	width: 100%;
	padding: 0;
}
body .cal_jsjg .cal_close{
	position: absolute;
	top: 0;
	right: 0;
}
body .cal_tznum {
    width: 96%;
    margin: 20px 2%;
}
body .cal_jg_ti{
    width: 96%;
    margin: 0px 2%;
}
body .cal_tab_td{
	width: 100%;
	margin: 0;
	padding: 0 10px;
	box-sizing: border-box;
}

}
