@media screen and (min-width:1020px) and (max-width:1290px){
.right_main .integ_tit h2{
	margin-left: 2%;
}
.right_main .card_dhd {
    width: 96%;
    margin: 30px 2% 0px;
}
.right_main .card_dhd ul li label{
	width: 100px;
}
.right_main .card_dhd .cap_winp_btn{
	margin-left: 210px;
}
.right_main .cadCop_bod {
    width: 96%;
    margin: 2%;
}
.right_main .cadCop_bod table {
    width: 96%;
    margin: 2%;
}

}
