@media screen and (min-width:1020px) and (max-width:1290px){
	*{transition: width .2s ease-out;}
	body{width: 100%;}
	/*top导航栏*/
	body .zb_nav{width: 970px;}
	body #zb_nav{width: 970px;height: 118px;}
	body .login_q{position: relative;}
	body .login_h{margin-right: 10px;position: inherit;}
	body .list_nav li{padding: 0 5px;}
	body #cbl_div {margin-left: 490px;left: 50%;transition: margin-left .2s ease-out;}
	/*footer*/
	body #zb_footer{min-width: 1000px;}
	#zb_footer .footer_bod{width: 970px;}
	#zb_footer .footer_bod *{transition-property: all;}
	#zb_footer .ft_yqlj{width: 146px;padding-right: 55px;}
	#zb_footer .ft_lxwm{width: 405px;}
	#zb_footer .ft_gzwm{width: 240px;}
	#zb_footer .ft_cxicon{margin-left: 304px;}
	/*右侧导航栏*/
	body .cbl_bod{margin-left: 368px;left: 50%;}
	
	/*-----------------------个人中心-----------------------------------*/
	/*左侧菜单*/
	.content_body .left_menu{width: 190px;}
	.left_menu #left_menu{width: 970px;}
	.left_menu #left_menu .left_title{width: 970px;}
	.left_menu .menu_bod{width: 190px;}
	/*用户信息栏*/
	.left_menu .menu_bod .menu_b1{width: 168px;}
	.left_menu .menu_bod .menu_b1 .wd_ls1{width: 70px;}
	.left_menu .menu_bod .menu_b1 li{width: 86px;}
	.left_menu .menu_bod .menu_b1 .wd_ls4{width: 168px;}
	.left_menu .menu_bod .menu_b1 .wd_ls4 p{margin-right: 6px;}
	.left_menu .menu_bod .menu_b1 .wd_ls5{width: 100%;}
	.left_menu .menu_bod .menu_b1 .wd_ls5 .leve_line{width: 112px;}
	.left_menu .menu_bod .menu_tit{width: 190px;}
	/*菜单模块*/
	.left_menu .menu_bod .menu_b2{width: 188px;}
	.left_menu .menu_bod .menu_b2 .b2_main{width: 170px;}
	.left_menu .b2_main ul{width: 170px;}
	.left_menu .b2_main ul li {transition: background-position .2s ease-out;width: 85px;background-position: 15px -5px;}
	.left_menu .b2_main ul li:hover{background-position: 15px -5px;}
	body .content_body{width: 970px;}
	.content_body .right_main{width: 775px;min-height: 1353px;}
	
	/*---------------------关于我们--------------------------------------*/
	/*左侧导航栏*/
	body #ab_body{width: 970px;margin: 0 auto 20px;}
	body #ab_body .left_title{width: 970px;}
	body #ab_body .left_menu{width: 140px;}
	body #ab_body #about_menu{width: 100%;}
	body #ab_body #about_menu .toin_left_menu{width: 100%;box-sizing: border-box;}
	body #ab_body #about_menu .toin_left_menu ul{width: 140px;}
	body #ab_body #about_menu .toin_left_menu ul li{width: 100%;box-sizing: border-box;border-right: solid 4px transparent;font-size: 16px;}
	/*右侧容器*/
	body #ab_body .about_right_m{width: 830px;}
	
}

@media screen and (min-width:770px) and (max-width:1019px){
	*{transition: width .2s ease-out;}	
	body #cbl_div{display: none;}
	body .logo_img{background-image: url(../img/icon/logo.png);width: 90px;background-position: 0px ;background-size: auto 46px;margin-top: 20px;}
	body .zb_nav{width: 720px;}
	body .zb_nav li{margin-right: 0px;}
	body .zb_nav li:nth-of-type(5){display: none;}
	body .zb_nav li a{padding: 0 8px;}
	body .login_q{position:  inherit;width: 90px;}
	body .login_q a{width: 44px;}
	body .login_h{margin-right: 10px;position: inherit;}
	body .login_h span{display: none;}
	body #zb_nav {width: 720px;height: 100px;}
	body .list_nav{margin-top: 35px;}
	body .list_nav li {padding: 0px 2px;}
	/*footer*/
	body #zb_footer {min-width: 750px;}
	#zb_footer .footer_bod {width: 720px;}
	#zb_footer .footer_bod *{transition-property: all;}
	#zb_footer .ft_yqlj {width: 120px;padding-right: 0;}
	#zb_footer .ft_yqlj a{margin-right: 10px;}
	#zb_footer .ft_lxwm {width: 334px;}
	#zb_footer .ft_lxwm p {font-size: 13px;margin-bottom: 6px;text-indent: 25px;}
	#zb_footer .ft_lxwm .ftl_p1{font-size: 16px;}
	#zb_footer .ft_gzwm {width: 210px;}
	#zb_footer .ft_gzwm li{margin-right: 15px;}
	#zb_footer .ft_cxicon{margin-left: 180px;}
	
	/*-----------------------个人中心-----------------------------------*/
	/*左侧菜单*/
	.content_body .left_menu{width: 190px;}
	.left_menu #left_menu{width: 720px;}
	.left_menu #left_menu .left_title{width: 720px;}
	.left_menu .menu_bod{width: 190px;}
	/*用户信息栏*/
	.left_menu .menu_bod .menu_b1{width: 168px;}
	.left_menu .menu_bod .menu_b1 .wd_ls1{width: 70px;}
	.left_menu .menu_bod .menu_b1 li{width: 86px;}
	.left_menu .menu_bod .menu_b1 .wd_ls4{width: 168px;}
	.left_menu .menu_bod .menu_b1 .wd_ls4 p{margin-right: 6px;}
	.left_menu .menu_bod .menu_b1 .wd_ls5{width: 100%;}
	.left_menu .menu_bod .menu_b1 .wd_ls5 .leve_line{width: 112px;}
	.left_menu .menu_bod .menu_tit{width: 190px;}
	/*菜单模块*/
	.left_menu .menu_bod .menu_b2{width: 188px;}
	.left_menu .menu_bod .menu_b2 .b2_main{width: 170px;}
	.left_menu .b2_main ul{width: 170px;}
	.left_menu .b2_main ul li {transition: background-position .2s ease-out;width: 85px;background-position: 15px -5px;}
	.left_menu .b2_main ul li:hover{background-position: 15px -5px;}
	/*container*/
	body .content_body{width: 720px;}
	/*右侧内容*/
	.content_body .right_main {width: 525px;min-height: 1353px;}
	
	/*---------------------关于我们--------------------------------------*/
	/*左侧导航栏*/
	body #ab_body{width: 720px;margin: 0 auto;}
	body #ab_body .left_title{width: 720px;}
	body #ab_body .left_menu{width: 110px;}
	body #ab_body #about_menu{width: 100%;}
	body #ab_body #about_menu .toin_left_menu{width: 100%;box-sizing: border-box;}
	body #ab_body #about_menu .toin_left_menu ul{width: 110px;}
	body #ab_body #about_menu .toin_left_menu ul li{width: 100%;box-sizing: border-box;border-right: solid 4px transparent;font-size: 15px;}
	/*右侧容器*/
	body #ab_body .about_right_m{width: 610px;}
	
}

@media only screen and (max-width:769px),only screen and (max-device-width:769px){
	html,body{width: 100%;}
	button,input{-webkit-appearance: none;}
	/*top导航栏*/
	#cbl_div{display: none;}
	body #zb_zdtop{position: inherit;}
	#zb_zdtop .zb_nav{width: 100%;background: #ffffff;}
	#zb_zdtop ul{display: none;}
	#zb_zdtop .login_q{position: inherit;background: none;width: 90px;}
	#zb_zdtop .login_q a{color: #FE3F3B;background: none;width: 44px;}
	#zb_zdtop .login_q .login_a{color: #303030;border-right: solid 1px #303030;border-radius: 2px 0px 0px 2px;}
	#zb_zdtop .login_h{margin-right: 10px;position: inherit;}
	body #zb_nav{width: 100%;height: 60px;padding-top: 0px;position: relative;}
	#zb_nav .logo_img{height: 33px;margin: 16px 0 1px 10px;background-image: url(../img/icon/logo.png);background-size: auto 33px;width: 70px;background-position: 0px;}
	#zb_nav .list_nav{display: none;}
	body #zb_nav .list-btn{display: block;height: 34px;width: 34px;margin: 13px 20px;float: right;cursor: pointer;box-sizing: border-box;border: solid 1px #f8f7f7;}
	#zb_nav .list-btn:hover{border: solid 1px #D2D2D2;}
	body #zb_nav .list_nav{display: none;position: absolute;width: 100%;top: 15px;left: 0;z-index: 2001;background: #fff;}
	body #zb_nav .open_phone_nav{display: block;}
	#zb_nav .list_nav li{height: auto;width: 100%;min-height: 40px;line-height: 40px;text-align: center;background-color: #F9F9F9;padding: 0;border-bottom: 1px solid #eee;cursor: pointer;}
	#zb_nav .list_nav li:nth-last-child(2) ul{display: none;}
	#zb_nav .list_nav .nav_la{background-image: none;padding-right: 0;}
	#zb_nav .list_nav .nav_ul{position: initial;display: none!important;padding: 0;width: 100%;z-index: 9999;}
	body #zb_nav .list_nav .open_phone_nav{display: block!important;}
	#zb_nav .list_nav .nav_ul li{width: 100%;min-height: 38px;line-height: 38px;background-color: #ffffff;user-select:none; -ms-user-select:none; -moz-user-select:none;-webkit-user-select:none;}
	#zb_nav .list_nav li a{display: block;width: 100%;height: 38px;line-height: 38px;letter-spacing: 1px;font-family: "微软雅黑";font-weight: 300;cursor: pointer;border-radius: 0;}
	#zb_nav .list_nav li a:after{content: none;}
	/*网页footer*/
	body #zb_footer{height: auto;min-width: 0;padding: 10px;box-sizing: border-box;}
	#zb_footer .footer_bod{width: 100%;}
	#zb_footer .ft_yqlj,#zb_footer .ft_lxwm,#zb_footer .ft_gzwm,#zb_footer .ft_qt{display: none;}
	#zb_footer .ft_copy{margin: 0;}
	#zb_footer .ft_cxicon{display: none;}
	/*消息提醒*/
	body .qp_alert{display: none;}
	body .qp_ts{display: none;}
	/*-----------------------个人中心----------------------------------------------*/
	/*箭头*/
	.arrow_right{position: fixed;top: 50%;left: -20px;margin-top: -27px;height: 40px;width: 40px;border-radius: 50%;z-index: 1999;background: #B1B1B1 url(../img/icon/arrow_right.png) right no-repeat;background-size: 16px 40px;opacity: 0.5;}
	/*遮罩*/
	.menu_mask{height: 100%;width: 100%;position: fixed;top: 0;left: 0;z-index: 2002;opacity: 0.5;background-color: #000;display: none;}
	/*左侧菜单*/
	.content_body .left_menu{width: 160px;}
	.left_menu #left_menu{width: 100%;}
	.left_menu #left_menu .left_title{width: 100%;}
	.content_body .menu_bod{position: fixed;top: -10px;left: -170px;width: 160px;height: 100%;overflow-y: auto;padding-left: 5px;background-color: #F8F7F7;z-index: 2003;transition: left .2s ease-in-out;}
	.content_body .menu_active{left: 0px;}
	/*用户信息栏*/
	.left_menu .menu_bod .menu_b1{width: 100%;border: none;}
	.left_menu .menu_bod .menu_b1 .wd_ls1{width: 100%;display: none;}
	.left_menu .menu_bod .menu_b1 li{width: 100%;}
	.left_menu .menu_bod .menu_b1 .wd_ls4{width: 100%;}
	.left_menu .menu_bod .menu_b1 .wd_ls4 p{margin-right: 6px;}
	.left_menu .menu_bod .menu_b1 .wd_ls5{width: 100%;}
	.left_menu .menu_bod .menu_b1 .wd_ls5 .leve_line{width: 80px;}
	.left_menu .menu_bod .menu_tit{width: 100%;}
	/*菜单模块*/
	.left_menu .menu_bod .menu_b2{width: 100%;border: none;margin-top: 10px;}
	.left_menu .menu_bod .menu_b2 .b2_main{width: 100%;margin: 0;}
	.left_menu .b2_main ul{width: 100%;}
	.left_menu .b2_main ul li {transition: background-position .2s ease-out;margin: 5px 0;height: 45px;width: 100%;line-height: 45px;background-position: 0px -5px;padding: 0;padding-left: 50px;margin: 0;box-sizing: border-box;}
	.left_menu .b2_main ul li:hover{background-position: 0px -5px;}
	/*主体*/
	body .content_body{width: 100%;padding-bottom: 10px;margin-bottom: 0;background-color: #ffffff;}
	body .content_body .right_main{min-height: 100%;width: 100%;padding: 0 10px;box-sizing: border-box;margin-top: 0px;}
	.content_body .left_title{display: none;}
	
	/*-----------------------我要投资-------------------------------------------------*/
	body .toin_body{width: 100%;box-sizing: border-box;padding: 0;}
	.toin_body .left_title{display: none;}
	
	/*列表按钮*/
	body .page_fy{height: 24px;}
	body .page_fy a{padding: 0px 2px;height: 22px;line-height: 24px;min-width: 18px;margin: 0px 1px;}


	/*---------------------关于我们--------------------------------------*/
	/*左侧导航栏*/
	body #ab_body{width: 100%;margin-bottom: 0;}
	body #ab_body .left_title{width: 100%;}
	body #ab_body .left_menu{width: 100%;}
	body #ab_body #about_menu{width: 100%;}
	body #ab_body #about_menu .toin_left_menu{width: 100%;height: auto;box-sizing: border-box;min-height: 0;}
	body #ab_body #about_menu .toin_left_menu ul{width: 100%;}
	body #ab_body #about_menu .toin_left_menu ul li{width: 25%;box-sizing: border-box;border-bottom: 4px solid transparent;border-left: none;font-size: 15px;}
	body #ab_body #about_menu .toin_left_menu li:hover{border-bottom: 4px solid #F8ADAC;border-left: none;}
	body #ab_body #about_menu .toin_left_menu .abo_me_click{border-bottom: 4px solid #FE3F3B;border-left: none;}
	/*右侧容器*/
	body #ab_body .about_right_m{width: 100%;margin-top: 0;}
	
}


/*个人中心新增列表容器*/
.media_table_cont{width: 100%;height: auto;overflow-x: auto;float: left;}






