@media screen and (min-width:1020px) and (max-width:1290px){
	
*{transition: margin,width .2s ease-out;}
/*重置密码弹窗*/
.right_main .Szzf_password .szp_bod {
    width: 500px;
    margin-left: -250px;
}
.right_main .Szzf_password .szp_bod .szp_mmk {
    margin: 0px 115px;
}
.right_main .Szzf_password .szp_bod .szp_btn {
    margin-left: 115px;
}
.right_main .Szzf_password .szp_bod .szp_alert{
	margin-left: 115px;
}
/*基本资料*/
.right_main .person_tab {
    margin: 15px 2% 0px;
    width: 96%;
}
.right_main .per_bod .per_password{
	width: 94%;
	margin: 0 3%;
}
.right_main .per_bod .per_password p{
	margin-right: 50px;
}
.right_main .per_bod ul li label {
    width: 180px;
}
.right_main .per_bod ul .per_bc_btn a {
    margin-left: 180px;
}
.right_main .per_bod .pic_sc_btn{
	margin-left: 290px;
}
.right_main .pesa_3 ul .per_pass_qd ul{
	margin-left: 180px;
}
.right_main .per_bod .end_pass h3{
	margin-left: 30px;
}
.right_main .yz_email .yz_bod1 li .yz_subm{
	margin-left: 181px;
	transition-property: margin;
}
.yz_email .yz_bod1 li h4{
	text-indent: 180px;
}
.right_main .yz_email .yz_bod1:nth-of-type(3) li .yz_subm{
	margin-left: 330px;
}
.right_main .yz_email .yz_bod1 .email_cg p{
	width: 375px;
}

.right_main .certifie_gat .gt_left{
	margin-left: 100px;
}
.right_main .certifie_gat .gt_right{
	margin-left: 160px;
}


}

