@media screen and (min-width:1020px) and (max-width:1290px){

body .raise_mbb {
    width: 996px;
}
body .ra_mbb_inp{
    margin: 165px 83px 0px;
}
body .ra_mbb_tit{
	margin: 50px 83px 0px;
}
body .ra_mbb_js {
    margin: 50px 83px 0px;
}
body .ra_mbb_div {
    margin: 50px 83px 0px;
}
body .ra_gz {
    margin: 100px 83px;
}
body .ra_mbb_foot {
    margin: 50px 83px;
}

}
