.lucky-bg{padding-top:630px;height:770px;width:100%;min-width:1200px;background:url(../img/activity06/activity_bg_02.jpg) top center no-repeat}
.lucky-bg p{width:100%;text-align:center;font-size:18px;color:#c33e40;line-height:36px;letter-spacing:3px}
.item-2{margin-top:78px}
.item-3{margin-top:58px}