
/*公用hover弹窗*/
.prompt_pop{position:relative;display:inline-block;height:12px;width:12px;font-size:10px;line-height:12px;color:#fff;text-align:center;background:#f99c42;border-radius:50%;cursor:pointer}
.prompt_pop:hover div{display:block}
.prompt_pop div{width:100px;position:absolute;left:-55px;bottom:18px;font-size:12px;margin-left:6px;line-height:18px;color:#0d0d0d;background:#fff;border:solid 1px #b5b9c5;border-radius:4px;padding:5px;display:none}
.prompt_pop div:after{position:absolute;display:block;bottom:-4px;left:50%;margin-left:-4px;content:"";height:4px;width:7px;background:transparent url(../img/icon/arrow_down.png) no-repeat left top}
.detail{margin-top:25px}
.detail .detail_left{width:780px;float:left;border-top:solid 3px #f99c42;border-bottom:solid 1px #d5dbdb;color:#0d0d0d}
.detail_left h2{height:46px;line-height:46px;font-size:18px;text-indent:3px;border-bottom:solid 1px #d5dbdb}
.detail_left .basic{border-bottom:solid 1px #d5dbdb}
.detail_left .basic li{height:49px;line-height:49px;width:auto;padding-left:40px;float:left}
.detail_left .basic .item_1{width:280px;background:transparent url(../img/icon/rmb_01.png) no-repeat 10px 11px}
.detail_left .basic .item_2{background:transparent url(../img/icon/gold_01.png) no-repeat 10px 11px}
.detail_left .basic .item_3{float:right;background:transparent url(../img/icon/column_01.png) no-repeat 10px 11px}
.detail_left .data{width:auto;padding:0 3px}
.detail_left .data li{height:136px;float:left;text-align:left}
.detail_left .data .item_1{width:205px}
.detail_left .data .item_3{width:170px;float:right}
.detail_left .data .item_4{float:right}
.detail_left .data li h4{width:auto;color:#a3a7b6;line-height:20px;padding:23px 0 3px}
.detail_left .data li p{line-height:55px}
.detail_left .data li p em{color:#f77d07;font-size:44px}
.detail_left .data li p b{font-size:36px}
.detail_left .data li p span{font-size:18px;color:#a3a7b6}
.detail_left .data li p span i{font-size:14px}
.detail_left .data .item_1 p span{color:#f77d07}
.detail_left .data .item_4 .prompt_pop div{width:136px;left:-73px}
.detail .detail_right{width:300px;float:right;padding:0 15px;border:solid 1px #d5dbdb;border-radius:4px;color:#0d0d0d}
.detail_right h2{height:46px;line-height:46px;font-size:18px;text-indent:3px;border-bottom:dashed 1px #d5dbdb}
.detail_right p{width:100%;padding:12px 0;position:relative;float:left}
.detail_right p label{float:left;height:28px;line-height:28px}
.detail_right p input{height:40px;width:165px;padding:0 30px 0 5px;float:left;line-height:40px;font-size:14px;border-radius:4px;border:solid 1px #d5dbdb}
.detail_right p .point{font-size:16px;position:absolute;left:175px;top:22px}
.detail_right p .btn_recharge{height:26px;width:64px;line-height:26px;float:right;border:solid 1px #ef4810;border-radius:4px;color:#ef4810;text-align:center;cursor:pointer}
.detail_right p .btn_recharge:hover{background:#ef4810;color:#fff}
.detail_right p .btn_invest{height:40px;width:90px;line-height:40px;float:right;border:solid 1px #ef4810;border-radius:4px;color:#fff;background:#ef4810;text-align:center;cursor:pointer}
.detail_right p .btn_invest:hover{background:#D13F0E}
.detail_right>a{line-height:20px;margin:15px 0 15px;text-align:right;color:#518BC6;float:right;cursor:pointer}
.detail_right .prompt{height:20px;line-height:20px;padding:0;color:#EF4810}
.detail_right .prompt span{display:none}
.feature{margin:25px 0}
.feature .container{border:solid 1px #fae4d1}
.feature ul{background:#fffcfa;padding:19px 0}
.feature ul li{width:320px;height:60px;padding-left:115px;float:left}
.feature ul .item_1{background:transparent url(../img/icon/n_clock_01.png) no-repeat 20px top}
.feature ul .item_2{background:transparent url(../img/icon/n_rmb_02.png) no-repeat 20px top}
.feature ul .last{width:185px;background:transparent url(../img/icon/n_kline_01.png) no-repeat 20px top}
.feature ul li h3{line-height:36px;font-size:18px}
.feature ul li p{color:#545454;line-height:26px}
.introduce{margin-bottom:80px}
.introduce .container{padding:0 20px;width:1130px;border:solid 1px #d5dbdb}
.introduce h2{height:60px;line-height:60px;font-size:16px;color:#f77d07;text-indent:30px}
.introduce .summary{width:auto;padding:0 50px;border-top:solid 1px #d5dbdb;border-bottom:solid 1px #d5dbdb;background:#fff3eb}
.introduce .summary p{height:42px;line-height:42px;position:relative;color:#545454}
.introduce .summary p:before{position:absolute;content:" ";left:-11px;top:18px;display:block;height:4px;width:2px;background:#f99c42}
.introduce .summary .item_1{border-bottom:dashed 1px #d5dbdb}
.introduce ul{width:100%;margin:60px 0 20px;border-top:solid 1px #d5dbdb;border-bottom:solid 1px #d5dbdb}
.introduce ul li{float:left;background:#fff3eb}
.introduce ul li:after{content:"\200B";display:block;height:0;clear:both}
.introduce ul li label{width:165px;padding:12px 20px 12px 0;float:left;color:#545454;text-align:right}
.introduce ul li label a{display:none}
.introduce ul li p{width:896px;float:left;color:#0d0d0d;line-height:20px;padding:12px 24px;background:#fff;border-bottom:dashed 1px #d5dbdb}
.introduce ul .last p{padding-bottom:45px;border:none}
.introduce ul li p a{color:#518BC6;cursor:pointer}
.open_pop{display:none}


@media screen and (min-width:1020px) and (max-width:1230px){
body .bg{min-width:970px;overflow:hidden}
body .container{width:970px}
body .left_title{width:970px}
.detail .detail_left{width:610px}
.detail_left .basic li{box-sizing:border-box}
.detail_left .basic li{width:auto;min-width:33.3%;padding-left:30px;background-position:0 11px!important}
.detail_left .basic .item_1{width:auto;min-width:33.3%}
.detail_left .basic .item_3{float:left}
.detail_left .data li{width:auto;min-width:20%}
.detail_left .data .item_1{width:auto;min-width:20%}
.detail_left .data .item_3{width:auto;min-width:20%}
.detail_left .data .item_2{width:auto;min-width:30%}
.detail_left .data .item_3,.detail_left .data .item_4{float:left}
.feature ul li{box-sizing:border-box;width:33.3%}
.feature ul .last{width:33.3%}
.introduce .container{width:930px}
.introduce ul li p{width:720px}
.introduce ul li label{width:140px}
}

@media screen and (min-width:750px) and (max-width:1019px){
body .bg{min-width:705px;overflow:hidden}
body .container{width:705px}
body .left_title{width:705px}
body .detail .detail_left{width:100%;padding:0;border-bottom:none}
body .detail_left h2{height:60px;line-height:60px;border:none}
body .detail_left .basic{border:none}
body .detail_left .basic li{box-sizing: border-box;width:auto;min-width:33.3%;padding-left:30px;background-position:0 11px!important}
body .detail_left .basic .item_1{width:auto;min-width:33.3%}
body .detail_left .basic .item_3{float:left}
body .detail_left .data{box-sizing: border-box;padding:20px 0}
body .detail_left .data li{width:auto;min-width:25%;height:100px}
body .detail_left .data .item_1{width:auto;min-width:25%}
body .detail_left .data .item_3{width:auto;min-width:25%}
body .detail_left .data li h4{box-sizing: border-box;padding-top:3px}
body .detail_left .data li h4 i{display:none}
body .feature{display:none}
body .introduce .container{border:none;width:705px;padding:0}
body .introduce h2{display:none}
body .introduce .summary{display:none}
body .introduce ul{margin:0;border-bottom:none}
body .introduce ul li{width:100%;background:#fff}
body .introduce ul li label{box-sizing: border-box;display:block;height:34px;width:100%;line-height:34px;padding:0 3%;background:#FFF3EB none repeat scroll 0 0;float:none;text-align:left}
body .introduce ul li label br{display:none}
body .introduce ul li p{box-sizing: border-box;width:100%;padding:0 3%;height:50px;line-height:24px;overflow:hidden;border:none}
body .introduce ul .last p{box-sizing: border-box;padding:0 3%}
body .introduce ul li label a{display:inline-block;float:right;width:34px;height:34px;background:transparent url(../img/icon/new_arrow_down.png) no-repeat center;transition:all .2s}
body .introduce ul li.active label a{transform:rotate(180deg)}
body .introduce ul li.active p{height:auto}
body .detail .detail_right{box-sizing: border-box;padding:0;width:100%;height:auto;background:#fff;border:none;padding:10px 3% 0;border-top:solid 2px #efeeee;transition:all .3s ease-in;border-radius:0;margin-bottom: 30px;}
body .detail_right h2{display:none}
body .detail_right p input{box-sizing: border-box;width:67%;padding:0 30px 0 5px}
body .detail_right p .point{right:33%;left:initial;top:12px;width:30px;text-align:center}
body .detail_right p .btn_invest{width:30%;line-height:38px}
body .detail_right>a{float:left;margin:5px 0}
body .detail_right p{box-sizing: border-box;padding:3px 0}
body .detail_right .prompt{height:auto}
body .detail_right p .btn_recharge{width:50px;line-height:24px}
}

@media screen and (max-width:749px){
body .bg{min-width:0;width: 100%;}
*{box-sizing: border-box;}
body .container{width:100%}
body .detail .detail_left{width:100%;padding:0 3%;border-bottom:none}
body .detail_left h2{height:60px;line-height:60px;border:none}
body .detail_left .basic{border:none}
body .detail_left .basic li{width:auto;min-width:50%;padding-left:30px;background-position:0 11px!important}
body .detail_left .basic .item_1{width:auto;min-width:50%}
body .detail_left .basic .item_3{float:left}
body .detail_left .data{padding:20px 0}
body .detail_left .data li{width:auto;min-width:50%;height:100px}
body .detail_left .data .item_1{width:auto;min-width:50%}
body .detail_left .data .item_3,body .detail_left .data .item_4{float:left}
body .detail_left .data li h4{padding-top:3px}
body .detail_left .data li h4 i{display:none}
body .feature{display:none}
body .introduce .container{border:none;width:100%;padding:0}
body .introduce h2{display:none}
body .introduce .summary{display:none}
body .introduce ul{margin:0;border-bottom:none}
body .introduce ul li{width:100%;background:#fff}
body .introduce ul li label{display:block;height:34px;width:100%;line-height:34px;padding:0 3%;background:#FFF3EB none repeat scroll 0 0;float:none;text-align:left}
body .introduce ul li label br{display:none}
body .introduce ul li p{width:100%;padding:0 3%;height:50px;line-height:24px;overflow:hidden;border:none}
body .introduce ul .last p{padding:0 3%}
body .open_pop{display:block}
body .open_pop a{position:fixed;left:0;bottom:0;display:block;height:47px;width:100%;line-height:47px;color:#FFF;background:#EF4810 none repeat scroll 0 0;text-align:center;cursor:pointer;z-index: 999;}
body .introduce ul li label a{display:inline-block;float:right;width:34px;height:34px;background:transparent url(../img/icon/new_arrow_down.png) no-repeat center;transition:all .2s}
body .introduce ul li.active label a{transform:rotate(180deg)}
body .introduce ul li.active p{height:auto}
body .detail .detail_right{position:fixed;left:0;bottom:-130px;padding:0;width:100%;height:auto;background:#fff;border:none;padding:10px 3% 0;border-top:solid 2px #efeeee;box-shadow:0 -1px 2px #efeeee;transition:all .3s ease-in;border-radius:0;z-index: 999;}
body .detail .detail_right.active{bottom:0}
body .detail_right h2{display:none}
body .detail_right p input{width:67%;padding:0 30px 0 5px}
body .detail_right p .point{right:33%;left:initial;top:12px;width:30px;text-align:center}
body .detail_right p .btn_invest{width:30%;line-height:38px}
body .detail_right>a{float:left;margin:5px 0}
body .detail_right p{padding:3px 0}
body .detail_right .prompt{height:auto}
body .detail_right p .btn_recharge{width:50px;line-height:24px}
}

