.inve_tab_title{ width: 100%; height:auto; overflow:hidden; border-bottom: 1px solid #fca703; margin-top: 30px;}
.inve_tab_title ul{ margin-left: 30px;}
.inve_tab_title li{ height: 60px; width: auto; padding: 0 30px; float: left;border-bottom: 2px solid #fff;}
.inve_tab_title li:hover{border-bottom: 2px solid #fca703;}
.inve_tab_title .itb_hover{border-bottom: 2px solid #fca703; color: #fca703;}
.inve_tab_title .itb_hover label{color: #fca703;}
.inve_tab_title .itb_hover div{background: #fca703; border: 1px solid #fca703; color: #fff;}
.inve_tab_title li label{ width: auto; height: 60px; line-height: 60px; display: inline-block; color: #727272; font-size: 16px; float: left; cursor: pointer;}
.inve_tab_title li div{ height: 18px; min-width: 18px; text-align: center; line-height: 20ox; width: auto; margin: 20px 0 20px 5px; font-size: 12px; border: 1px solid #727272; cursor: pointer; border-radius: 2px; float: left; overflow: hidden;}
.inve_tab_title .last{float:right;line-height: 60px;padding: 0 10px;border: none;}
.inve_tab_title .last:hover{border: none;}
.inve_tab_title .last a{color: #FCA703;}
.inve_tab_title .last a:hover{color: #EF4810;}

.inve_list{ width: 100%; height: auto; overflow: hidden; display: none;}
.lid_blo{ display: block;}
.in_lis_t .in_lis_sele{ height: 20px; line-height: 20px; margin: 10px 0; width: 200px; float: right; text-align: right;}
.in_lis_t .in_lis_sele select{ width: 100px; height: 100%; float: right; margin-left: 10px;}

.in_lis_t{ width: 885px; height: 40px; overflow: hidden; float: left; margin:30px 0 20px 15px;}
.in_lis_t label{ width: auto; height: 40px; line-height: 40px; margin-right: 10px; float: left; float: left;}
.in_lis_t ul{ width: 500px; height: auto; overflow: hidden; float: left; }
.in_lis_t li{ height: 25px; line-height: 25px; padding:0 12px; float: left; color: #727272; margin:8px 10px 0 10px;}
.in_lis_t li:hover{background: #f8ba60; color: #fff; border-radius: 2px; cursor: pointer;}
.in_lis_t .ils_c{background: #f8ba60; color: #fff; border-radius: 2px;}
.in_lis_t .inv_gjss{ width: auto; overflow: hidden; float: right; padding:0; display: none;}
.in_lis_t .inv_gjss:hover{ color: #727272; cursor: pointer;}
.in_lis_t .inv_gjss select{ height: 40px; width: 80px; background: #f8f8f8; padding: 0 10px; color: #727272; border: none; float: left;}
.in_lis_t .inv_gjss label{height: 40px; line-height: 40px; width: 30px; display: inline-block; text-align: center; margin-right: 10px; float: left;}
.in_lis_t .inv_gjss a{ width: 100px; height: 40px; line-height: 40px; border-radius: 2px; text-align: center; display: inline-block; color: #fff; background: #fca703;}
.in_lis_t .inv_gjss a:hover{ background:#e49703;}
.inve_list table{ width: 100%; height: auto; overflow: hidden;}
.inve_list table th{ background: #f8f8f8; height: 42px; line-height: 42px; color: #969595; text-align: center;}
.inve_list table td{ height: 42px; line-height: 42px; color: #727272; text-align: center; overflow: hidden;}
.inve_list table td a{ color: #fca703;}
.inve_list table td a:hover{ text-decoration: underline;}
.inve_list table tr:hover{ background: #fffbf3;}

.zqzr_list{ width: 100%; height: 30px; padding: 10px 0; border-bottom: 1px solid #fca703;}
.zqzr_list li{ width: auto; overflow: hidden; padding: 0 60px; height: 30px; color: #0d0d0d; cursor: pointer; line-height: 30px; text-align: center; float: left;}
.zqzr_list li:hover{ color: #fca703;}
.zqzr_list .zqzr_ls_hov{color: #fca703;}
.zqzr_bod .zq_dis{display: block;}

.zq_xqmain{ width:630px; height: 200px; position: fixed;}

.inves_pg{ width: 100%; height: 30px; float: right; margin: 20px 0; text-align:center;}


.inves_ckxq{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background:url(../img/icon/tb_1_1.png) top left repeat; z-index: 9999999; display: none;}
.in_ckxq_bod{ width: 900px; height: 500px; background: #fff; position: fixed; border-radius: 2px; left: 50%; top: 50%; margin: -250px 0 0 -450px;}
.in_ckxq_title{ width:860px; height: 42px; float: left; margin: 10px 10px 40px 30px;}
.in_ckxq_title h2{ width: auto; overflow: hidden; height: 32px; line-height: 32px; font-weight: bold; color: #0d0d0d; float: left; margin:10px 20px 0 0;}
.in_ckxq_title a{ width: auto; overflow: hidden; height: 20px; line-height: 20px; margin: 22px 0 0 0; color:#089ffe; float: left;}
.in_ckxq_title a:hover{ text-decoration: underline;}
.in_ckxq_title div{ width: 32px; height: 32px; float: right; background: url(../img/icon/chacha.png) top left no-repeat; cursor:pointer;}
.in_ckxq_title div:hover{background: url(../img/icon/chacha_h.png) top left no-repeat;}
.in_ckxq_font{ width: 840px; height: auto; overflow: hidden; margin: 0 30px; float: left;}
.in_ckxq_font li{ width: 150px; padding-left: 20px; height: 60px; float: left; }
.in_ckxq_font .ick_lis1{width: 180px;}
.in_ckxq_font li p{ width: 100%; height: 40px; line-height: 40px; font-size: 16px; color: #0d0d0d;}
.in_ckxq_font li label{ width: 1080px; color: #a5a5a5;}
.in_ckxq_font .ick_lis2{ width: 80px; float: right; padding-left: 30px;}
.in_hkjh_title{ width: 840px; height: 50px; line-height: 50px; margin:30px 30px 5px 30px; float: left; border-bottom: 2px solid #ddd;}
.in_tab_t{ width: 840px; height:40px; float: left; background: #eee; margin: 0 30px;}
.in_tab_t th{ color: #727272;}
.in_hkjh_tab{ width: 840px; height: 180px; float: left; margin: 0 30px; overflow: hidden; overflow-y: auto;}
.in_hkjh_tab table{ width: 100%;}
.in_hkjh_tab table td{ text-align: center; height: 30px; line-height: 30px; color: #727272;}
.in_hkjh_tab table tr:hover{ background: #f5f5f5;}

.inve_list table td.prize{
	color: #F39900;
	position: relative;
	cursor: default;
}
.inve_list table td{
	overflow: visible;
}
.prize:hover div{
	display: block;
}
.prize div{
	display: none;
	position: absolute;
	left: 50%;
	bottom: 20px;
	height: 56px;
	width: 153px;
	text-align: center;
	line-height: 50px;
	color: #F39900;
	margin-left: -76px;
	background: transparent url(../img/icon/prize-pop.png) left top no-repeat;
}



