.loanS_title_tab{ width: 100%; height: 50px; border-bottom: 1px solid #fca703; float: left; margin-top: 20px; color: #727272;}
.loanS_title_tab a{ height: 47px; line-height: 47px; width: auto; margin: 0 30px 0 50px; float: left; color: #727272; font-size: 16px; font-weight:bold;}
.loanS_title_tab a:hover{ border-bottom: 3px solid #fca703;}
.loanS_title_tab .ltt_click{ border-bottom: 3px solid #fca703;}
.loanS_title_tab p{ width: auto; height: 50px; line-height: 50px; float: left; margin-left: 50px;}
.loanS_title_tab p b{ color: #000; margin-right: 5px;}

.loanS_table{ width: 96%; height: 600px; float: left; padding-bottom: 30px; margin: 0 2%; display: none;}
.lt_ble_1{ display: block;}
.loanS_table .lo_hide_sj{ background: url(../img/jl_none.png) 340px 200px no-repeat;}
.loanS_table .lo_tj_bod{ width: 100%; height:550px; overflow: hidden; margin-top: 10px;}
.loanS_table .lo_tj_bod table{ width: 100%;}
.loanS_table .lo_tj_bod table th{ height: 40px; line-height: 40px; color: #727272;}
.loanS_table .lo_tj_bod table td{ height: 40px; line-height: 40px; color: #0d0d0d; text-align: center;}
.loanS_table .lo_tj_bod .locS_xm{ color:#2aabfc; text-decoration: none;}
.loanS_table .lo_tj_bod .locS_xm:hover{ text-decoration: underline;}
.loanS_table .lo_tj_bod .locS_ck{ color:#fca703; text-decoration: underline;}
.loanS_table .lo_tj_bod .locS_ck:hover{ text-decoration: none;}

.lSta_page{ width: 100%; height: 30px; margin-top: 20px; text-align: center;}

.loanS_tj{ width: 100%;height: 600px; float: left;}
.loanS_tj h3{ width: 100%; height: 40px; line-height: 40px; color: #727272; font-weight: bold; font-size: 16px; text-indent: 50px; background: #f8f7f7;}
.loanS_tj .lo_tj_bod{width: 96%; height: 500px; overflow: hidden;  margin: 0 2%;}
.loanS_tj table{ width: 100%; height: auto; overflow: hidden; margin-top: 10px;}
.loanS_tj table th{ height: 40px; line-height: 40px; color: #727272;}
.loanS_tj table td{ height: 40px; line-height: 40px; text-align: center; color: #0d0d0d;}

.loanS_ckxq{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background:url(../img/icon/tb_1_1.png) top left repeat; z-index: 9999999; display: none;}
.loanS_ckxq .lS_ck_bod{ width: 850px; height: 460px; background: #fff; border-radius: 2px; left: 50%; top: 50%; margin: -230px 0 0 -425px; position: fixed;}
.lS_ck_bod .lS_close{ width: 32px; height: 32px; display: inline-block; background: url(../img/icon/chacha.png) top left no-repeat; float: right; margin: 5px 5px 0 700px;}
.lS_ck_bod .lS_close:hover{ background: url(../img/icon/chacha_h.png) top left no-repeat;}
.lS_ck_bod h3{ width: 600px; height: 30px; line-height: 30px; margin-left: 30px; float: left; color: #2AABFC; font-weight: bold;}
.lS_ck_bod h3 label{ margin-right: 30px;}
.lS_ck_bod p{ width: 180px; height: 20px; line-height: 20px; margin-top: 10px; text-align: right; float: right; margin-right: 30px;}
.lS_ck_bod .lS_tab_title{ float: left; height: 35px; width: 100%; margin-top: 20px;}
.lS_ck_bod .lS_tab_title th{ color: #727272; height: 35px; line-height: 35px;}
.lS_ck_bod .lS_div{ width: 100%; height: 245px; overflow: hidden; overflow-y: auto; float: left; margin-bottom: 20px;}
.lS_ck_bod .lS_div table{ width: 100%;}
.lS_ck_bod .lS_div table tr:nth-of-type(2n){ background: #faf9f9;}
.lS_ck_bod .lS_div table th{ color: #727272; height: 35px; line-height: 35px; text-align: center;}
.lS_ck_bod .lS_div table td{ color: #727272; height: 35px; line-height: 35px; text-align: center;}
.lS_ck_bod .lS_div table td label{ margin:0 10px;}
.lS_ck_bod .lS_div table td div{ width: 16px; height: 16px; float: right; border: 1px solid #d5d4d4; cursor: pointer;}
.lS_ck_bod .lS_div table td .lD_yhq{ background:#d5d4d4 url(../img/icon/ls_g1.png) 1px 2px no-repeat; cursor: auto;}
.lS_ck_bod .lS_div table td .lD_yq{ color:#2aabfc;}
.lS_ck_bod .lS_div table td .lD_wh{ color:#f5a50b;}

.loanS_ckxq .lS_btn_hk{ width: 190px; height: 45px; border: none; background: #f5a50b; text-align: center; color: #fff; font-size: 16px; cursor: pointer; border-radius: 2px; font-family: "微软雅黑"; margin-left:330px;}
.loanS_ckxq .lS_btn_hk:hover{ background: #e89c09;}



.repaym_bod{ width:1170px; height: auto; overflow: hidden; margin:10px auto 20px auto; background: #fff;}
.left_title{ width: 1170px; height: 20px; line-height: 20px; font-family: "宋体";font-size: 12px; color: #727272;}
.left_title a{ color:#fca703; margin: 0 5px; cursor: pointer;}
.left_title span{ margin-left: 5px;}
.repaym_bod .repa_bod{ width: 800px; height: auto; overflow: hidden; border: 1px solid #bbb; float: left; margin:100px 0 50px 184px;}
.repaym_bod .repa_bod .lS_div{ height: auto; overflow: hidden;}
.repaym_bod .repa_bod h3{margin: 20px 0 20px 20px; color: #0d0d0d;}
.repaym_bod .repaym_ul{ width: 100%; height: auto; overflow: hidden; margin: 20px 0 100px 0; float: left;}
.repaym_bod .repaym_ul li{ height: auto; overflow: hidden; width: 100%; margin-bottom: 20px; font-size: 16px;}
.repaym_bod .repaym_ul li label{ width: 420px; height: 30px; line-height: 30px; text-align: right; display: inline-block; color: #727272; font-weight: bold; float: left;}
.repaym_bod .repaym_ul li span{ float: left; font-size: 16px; height: 30px; line-height: 30px; margin-left: 10px;}
.repaym_bod .repaym_ul li .rep_hkje{ width: 150px; height: 28px; font-size: 16px; line-height: 28px; border: 1px solid #CCC; border-radius: 2px; padding: 0 5px; font-weight: bold; color:#0d0d0d ; background: #fbfaf2; float: left;}
.repaym_bod .repaym_ul li div{ width: 600px; height: auto; overflow: hidden; float: left;}
.repaym_bod .repaym_ul li div input{ float: left; height: 14px; width: 14px; margin: 8px 0;}
.repaym_bod .repaym_ul li div b{ float: left; height: 30px; line-height: 30px; margin: 0 5px;}
.repaym_bod .repaym_ul li div a{ height: 30px; line-height: 30px; width: auto; display: inline-block; color: #f5a50b; text-decoration: underline; float: left; margin-left: 10px;}
.repaym_bod .repaym_ul li div a:hover{ text-decoration: none;}
.repaym_bod .repaym_ul li .repm_qrzf_btn{ margin:50px 0 0 420px; width: 150px; height: 43px; line-height: 43px; text-align: center; font-size: 16px; color: #fa1c17; border: 1px solid #fa1c17; background: #fff; border-radius: 2px; font-family: "微软雅黑";}
.repaym_bod .repaym_ul li .repm_qrzf_btn:hover{ background:#fa1c17; color: #fff; cursor: pointer;}
