.lucky_bod{width: 100%; height: 1300px; background: #fde7d7 url(../img/activity/dzp_bg1.jpg) top center no-repeat; float: left;}
/*右侧原有导航栏*/
#cbl_div{display: none;}
/*右侧导航栏*/
.right-nav{
	position: fixed;
	right: 50%;
	margin-right: -640px;
	top: 50%;
	height: 320px;
	width: 70px;
	margin-top: -160px;
	z-index: 1001;
}
.right-nav ul li{
	height: 64px;
	width: 100%;
	cursor: pointer;
}
.right-nav ul .item-1{
	background: url(../img/activity/nav_btn1.png) top center no-repeat;
	background-size: 100% 100%;
}
.right-nav ul .item-2{
	background: url(../img/activity/nav_btn2.png) top center no-repeat;
	background-size: 100% 100%;
}
.right-nav ul .item-3{
	background: url("../img/activity/nav_btn3.png") no-repeat scroll left top / 68px 64px;
}
.right-nav ul .item-4{
	background: url(../img/activity/nav_btn4.png) top left no-repeat;
	background-size: 68px 100%;
}
.right-nav ul .item-5{
	background: url(../img/activity/nav_btn5.png) top center no-repeat;
	background-size: 100% 100%;
}


/*弹出窗*/
.pop-mask{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 9999;
	display: none;
}
.pop-bg{
	position: relative;
	top: 50%;
	left: 50%;
	height: 663px;
	width: 609px;
	margin-top: -332px;
	margin-left: -305px;
	z-index: 1002;
	border-top: solid 1px transparent;
	display: none;
}
.pop-bg .btn-cont,.pop-bg .btns-cont{
	margin-top: 400px;
	height: 39px;
	width: 100%;
}
.pop-bg .btn-cont .btn{
	height: 39px;
	width: 131px;
	margin: 0 auto;
	cursor: pointer;
}
.pop-bg .btns-cont .btn{
	height: 39px;
	width: 131px;
	cursor: pointer;
	float: left;
	margin-left: 153px;
}
.pop-bg .btns-cont .btn:nth-of-type(2){
	margin-left: 39px!important;
}
.pop-bg .btn:active{
	opacity: 0.8;
}



/*中奖提示*/
.pop-win{
	background: url(../img/activity/pop_win.png) top center no-repeat;
}
.pop-win .title-cont{
	height: 133px;
	width: 330px;
	margin: 0 auto;
	margin-top: 242px;
	white-space: normal;
    display:table; 

}
.pop-win .text-title{
	vertical-align:middle; 
    display:table-cell;
    text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: #FE0405;
	font-family: "微软雅黑";
	overflow: hidden;
}
.pop-win .promopt{
	font-size: 13px;
	color: #313338;
	text-align: center;
}
.pop-win .btn-cont{
	margin-top: 10px;
	height: 39px;
	width: 100%;
}
.pop-win .win-btn{
	height: 39px;
	width: 131px;
	margin: 0 auto;
	cursor: pointer;
	background: url(../img/activity/popbtn_ok.png) top center no-repeat;
}

/*使用积分弹窗*/
.pop-mask .use-credit{
	background: url(../img/activity/use_credit.png) top center no-repeat;
}
.use-credit .yes-btn{
	background: url(../img/activity/popbtn_yes.png) top center no-repeat;
}
.use-credit .no-btn{
	background: url(../img/activity/popbtn_no.png) top center no-repeat;
}

/*去登陆弹窗*/
.pop-mask .pop-login{
	background: url(../img/activity/pop_login.png) top center no-repeat;
}
.pop-login .login-btn{
	background: url(../img/activity/popbtn_login.png) top center no-repeat;
}
.pop-login .reg-btn{
	background: url(../img/activity/popbtn_reg.png) top center no-repeat;
}

/*余额不足弹窗*/
.pop-mask .credit-low{
	background: url(../img/activity/pop_creditlow.png) top center no-repeat;
}
.credit-low .ok-btn{
	background: url(../img/activity/popbtn_ok.png) top center no-repeat;
}


/*再抽一次弹窗*/
.pop-mask .once-again{
	background: url(../img/activity/pop_onceagain.png) top center no-repeat;
}
.once-again .again-btn{
	background: url(../img/activity/popbtn_onceagain.png) top center no-repeat;
}


/*头部top*/
.top-bg{
	height: 768px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/activity/topBg_01.jpg) top center no-repeat;
	border-top: solid 1px transparent;
}
.top-bg *{
	box-sizing: border-box;
}
.top-bg .top-cont{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.top-bg .btns{
	height: 70px;
	width: 100%;
	margin: 0 auto;
	margin-top: 610px;
}
.top-bg .btns>div{
	width: 252px;
	height: 100%;
	float: left;
	margin:0 26px;
}
/*按键区域*/
.top-bg .btns .btn-area{
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.top-bg .btns .btn-1{
	margin-left: 0px;
	background: url(../img/activity/top_btn1.png) top center no-repeat;
}
.top-bg .btns .btn-2{
	background: url(../img/activity/top_btn2.png) top center no-repeat;
}
.top-bg .btns .btn-3{
	background: url(../img/activity/top_btn3.png) top center no-repeat;
}
.top-bg .btns .btn-4{
	background: url(../img/activity/top_btn4.png) top center no-repeat;
}
.top-bg .btns .btn-5{
	background: url(../img/activity/top_btn5.png) top center no-repeat;
}



/*一重礼抽奖*/
.lucky-bg{
	height: 1000px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/activity/lucky-bg.png) top center no-repeat;
}
.lucky-bg .lucky-cont{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	height: 1200px;
}

/*一重礼标题*/
.lucky-bg .gift-title1{
	width: 374px;
	height: 261px;
	background: url(../img/activity/gift_title1.png) top center no-repeat;
}
.lucky-bg .gift_promopt{
	height: 77px;
	width: 366px;
	position: absolute;
	right: 75px;
	top: 55px;
	background: url(../img/activity/gift_prompt1.png) top center no-repeat;
}
.lucky-bg .basic-info{
	position: absolute;
	padding-top: 25px;
	padding-left: 10px;
	top: 182px;
	right: 68px;
	height: 117px;
	width: 238px;
	box-sizing: border-box;
	background: url(../img/activity/dzp_nums.png) top center no-repeat;
}
.basic-info p{
	height: 35px;
	width: 95%;
	line-height: 35px;
	font-size: 20px;
	color: #E74E02;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.basic-info span{
	font-weight: 700;
	color: #E95502;
}
/*大转盘*/
.lucky-dzp{
	position: absolute;
	top: 131px;
	left: 45px;
	height: 610px;
	width: 932px;
	background: url(../img/activity/dzp.png) no-repeat;
	background-size: 932px 632px;
	background-position: 7px 1px;
}
.lucky-dzp .lucky-light1{
	position: absolute;
	left: 165px;
	top: 6px;
	height: 600px;
	width: 600px;
	background: url(../img/activity/dzp_light1.png) center no-repeat;
	background-size: 100% 100%;
	display: block;
}
.lucky-dzp .duoduo-shadow{
	position: absolute;
	left: 25px;
	bottom: 10px;
	width: 200px;
	height: 307px;
	background: url(../img/activity/dd-shadow.png) center no-repeat;
	z-index: 29;
}
.lucky-dzp .lucky-light2{
	position: absolute;
	left: 165px;
	top: 6px;
	height: 600px;
	width: 600px;
	background: url(../img/activity/dzp_light2.png) center no-repeat;
	background-size: 100% 100%;
	display: none;
}
.light-flash .lucky-light1{
	display: none;
}
.light-flash .lucky-light2{
	display: block;
}
.lucky-dzp .lucky-point{
	position: absolute;
	top: 62px;
	left: 442px;
	height: 304px;
	width: 46px;
	background: url(../img/activity/dzp_point.png) center no-repeat;
	transform-origin: 23px 247px;
	-webkit-transform-origin: 23px 247px;
	-moz-transform-origin: 23px 247px;
	-ms-transform-origin: 23px 247px;
}
/*转盘指针开启渐变*/
.lucky-dzp .lucky-point-transition{
	transition: transform 7s cubic-bezier(0.075, 0.82, 0.165, 1);
	-webkit-transition: transform 7s cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: transform 7s cubic-bezier(0.075, 0.82, 0.165, 1);
	-ms-transition: transform 7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lucky-dzp .lucky-btn{
	position: absolute;
	top: 189px;
	left: 351px;
	height: 235px;
	width: 235px;
	background: url(../img/activity/dzp_click.png) center no-repeat;
	cursor: pointer;
}

/*中奖列表容器*/
.name-list{
	position: absolute;
	right: 60px;
	top: 280px;
	height: 515px;
	width: 270px;
	padding-top: 63px;
	background: url(../img/activity/dzp_list_bg.png) center no-repeat;
	box-sizing: border-box;
    user-select:none; 
    -ms-user-select:none; 
	-moz-user-select:none;
    -webkit-user-select:none;
}
.name-list .title{
	height: 50px;
	width: 100px;
	margin-left: 30px;
	float: left;
	box-sizing: border-box;
	cursor: pointer;
}
.name-list .active{
	background: url(../img/activity/dzp_btn.png) center no-repeat;
	cursor: auto;
}
.name-list .title img{
	height: 17px;
	width: 75px;
	margin: 0 auto;
	margin-top: 12px;
	display: block;
}
.name-list .my-prize-title{
	margin-left: 5px;
}
.name-list .lists-cont{
	width: 200px;
	height: 340px;
	margin: 0 auto;
	margin-top: 50px;
	box-sizing: border-box;
	padding: 5px;
	overflow: hidden;
	position: relative;
}
.name-list .list_bz{
	margin-top: 30px;
}
.list_bz{
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
}
.name-list ul{
	width: 200px;
}

/*滚动条*/
.name-list .scroll-bar{
	position: absolute;
	right: 26px;
	top: 120px;
	height: 325px;
	width: 4px;
	background: url(../img/activity/dzp_silder_bg.png) top center no-repeat;
	overflow: hidden;
}
.scroll-bar .scroll-silder{
	position: absolute;
	top: 0px;
	height: 30px;	
	width: 4px;
	background: url(../img/activity/dzp_silder.png) top center no-repeat;
}

/*中奖名单*/
.lucky-list .item{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #0F0F0F;
	box-sizing: border-box;
	cursor: pointer;
}
.lucky-list .item:hover{
	border-bottom: solid 1px #DEDEDE;
}
.lucky-list .name{
	width: 55px;
	height: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.lucky-list .prize-option{
	width: 130px;
	height: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*我的奖品*/
.my-prize .item{
	width: 100%;
	height: 56px;
	color: #0F0F0F;
	box-sizing: border-box;
	padding: 6px 8px;
	border-bottom: solid 1px #E6E6E6;
	cursor: pointer;
}
.my-prize .prize-name{
	position: relative;
	height: 24px;
	width: 100%;
	font-size: 16px;
	color: #fcdc10;
}
.my-prize .prize-name:after{
	position: absolute;
	left: -12px;
	top: 10px;
	content: "";
	display: block;
	height: 4px;
	width: 4px;
	background-color: #BE7A49;
}
.my-prize .time{
	height: 20px;
	line-height: 20px;
	width: 100%;
	font-size: 12px;
	color: #3E3B3B;
}

/*规则介绍*/
.rule-cont{
	height: 185px;
	width: 100%;
	position: absolute;
	top: 777px;
	color: #ffffff;
}
.rule-cont *{
	box-sizing: border-box;
}
.rule-titles{
	height: 165px;
	width: 127px;
	float: left;
	margin-left: 60px;
	font-size: 26px;
	font-weight: 600;
}
.rule-titles>div{
	height: 40px;
	width: 100%;
	line-height: 40px;
	text-align: right;
	background-color: #4A0000;
}
.rule-titles .rule-title2,.rule-titles .rule-title3{
	margin-top: 12px;
}
.rule-cont .rule{
	height: 165px;
	width: 925px;
	font-size: 16px;
	float: left;
	letter-spacing: 1px;
}
.rule .time{
	margin-top: 14px;
	margin-left: 10px;
}
.rule .join{
	margin-top: 29px;
	margin-left: 10px;
}
.rule .receive-prize{
	margin-top: 30px;
	margin-left: 10px;
}
/*.rule-cont .rule-footer{
	height: 20px;
	width: auto;
	line-height: 20px;
	margin-left: 60px;
	font-size: 15px;
	text-indent: 10px;
	float: left;
}*/


/*第二重礼*/
.gift-Bg2{
	height: 799px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/activity/gift_Bg2.png) top center no-repeat;
}
.gift-Bg2 .gift-cont{
	position: relative;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.gift-Bg2 .gift-title2{
	margin-top: -1px;
	margin-right: 40px;
	width: 374px;
	height: 266px;
	float: right;
	background: url(../img/activity/gift_title2.png) top center no-repeat;
}
.gift-Bg2 .gift-phone{
	position: absolute;
	top: 225px;
	left: 56px;
	height: 479px;
	width: 503px;
	background: url(../img/activity/gift2_phone.png) top center no-repeat;
}
.gift-Bg2 .gift-phone .list_bz{
	position: absolute;
	bottom: -30px;
}
.gift-Bg2 .text-cont{
	position: absolute;
	right: 40px;
	top: 275px;
	height: 355px;
	width: 560px;
	color: #ffffff;
	letter-spacing: 2px;
}
.gift-Bg2 .text-title1,.gift-Bg2 .text-title2,.gift-Bg2 .text-title3{
	height: 40px;
	line-height: 40px;
	width: auto;
	background-color: #EE7300;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	text-indent: 5px;
	letter-spacing: 3px;
}
.gift-Bg2 .text-title3{
	margin-top: 10px;
}
.gift-Bg2 .text-title2{
	margin-top: 12px;
}
.gift-Bg2 .text-time{
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	text-indent: 5px;
	letter-spacing: 3px;
}
.gift-Bg2 .text-join{
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	text-indent: 5px;
}
.gift-Bg2 .text-join p{
	margin-top: 15px;
}


/*三重礼*/
.gift-Bg3{
	height: 799px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/activity/gift_Bg3.png) top center no-repeat;
}
.gift-Bg3 .gift-cont{
	position: relative;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.gift-Bg3 .gift-title3{
	width: 440px;
	height: 261px;
	margin-top: -1px;
	background: url(../img/activity/gift_title3.png) top center no-repeat;
}
.gift-Bg3 .gift3-computer{
	position: absolute;
	top: 300px;
	right: 40px;
	width: 698px;
	height: 397px;
	background: url(../img/activity/gift3_computer.png) top center no-repeat;
	background-size: 100% 100%;	
}
.gift-Bg3 .gift3-computer .list_bz{
	position: absolute;
	right: 30px;
	bottom: -30px;
}
.gift-Bg3 .text-cont{
	position: absolute;
	top: 360px;
	height: 220px;
	width: 500px;
	padding-left: 3px;
	color: #ffffff;
}
.gift-Bg3 .text-title1,.gift-Bg3 .text-title2{
	height: 40px;
	line-height: 40px;
	width: auto;
	background-color: #016CBA;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	text-align: right;
	letter-spacing: 3px;
}
.gift-Bg3 .text-title2{
	margin-top: 12px;
}
.gift-Bg3 .text-time{
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	text-indent: 5px;
	letter-spacing: 3px;
	margin-left: 10px;
}
.gift-Bg3 .text-join{
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-left: 10px;
}
.gift-Bg3 .text-join p{
	margin-top: 15px;
}

/*第四重礼*/
.gift-Bg4{
	height: 796px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/activity/gift_Bg4.png) top center no-repeat;
}
.gift-Bg4 .gift-cont{
	position: relative;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.gift-Bg4 .gift-title4{
	margin-top: -1px;
	width: 440px;
	height: 261px;
	margin-right: 40px;
	float: right;
	background: url(../img/activity/gift_title4.png) top center no-repeat;
}
.gift-Bg4 .gift-phone{
	position: absolute;
	top: 160px;
	left: 56px;
	height: 479px;
	width: 660px;
	background: url(../img/activity/gift4_phone.png) left top no-repeat;
}
.gift-Bg4 .gift-phone .list_bz{
	position: absolute;
	bottom: -30px;
}
.gift-Bg4 .text-cont{
	position: absolute;
	right: 40px;
	top: 260px;
	height: auto;
	width: 506px;
	color: #FFF;
	letter-spacing: 1px;
	font-size: 22px;
	line-height: 50px;
	font-weight: 500;
}
.gift-Bg4 .text-title1,.gift-Bg4 .text-title2{
	height: 40px;
	line-height: 40px;
	width: auto;
	background-color: #ff007e;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	text-align: right;
	letter-spacing: 3px;
}
.gift-Bg4 .text-title2{
	margin-top: 12px;
}
.gift-Bg4 .text-time{
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	text-indent: 5px;
	letter-spacing: 3px;
	margin-left: 10px;
}
.gift-Bg4 .text-join{
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-left: 10px;
}
.gift-Bg4 .text-join p{
	margin-top: 15px;
}

/*五重礼*/
.gift-Bg5{
	height: 799px;
	width: 100%;
	min-width: 1200px;
	background: url(../img/activity/gift_Bg5.png) top center no-repeat;
}
.gift-Bg5 .gift-cont{
	position: relative;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.gift-Bg5 .gift-title5{
	width: 440px;
	height: 261px;
	margin-top: -1px;
	background: url(../img/activity/gift_title5.png) top center no-repeat;
}
.gift-Bg5 .gift5-computer{
	position: absolute;
	top: 300px;
	right: 40px;
	width: 698px;
	height: 397px;
	background: url(../img/activity/gift5_computer.png) top center no-repeat;
	background-size: 100% 100%;	
}
.gift-Bg5 .gift5-computer .list_bz{
	position: absolute;
	right: 30px;
	bottom: -30px;
}
.gift-Bg5 .text-cont{
	position: absolute;
	top: 360px;
	height: 220px;
	width: 500px;
	padding-left: 3px;
	color: #ffffff;
}
.gift-Bg5 .text-title1,.gift-Bg5 .text-title2{
	height: 40px;
	line-height: 40px;
	width: auto;
	background-color: #018E86;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	text-align: right;
}
.gift-Bg5 .text-title2{
	margin-top: 12px;
}
.gift-Bg5 .text-time{
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	text-indent: 5px;
	letter-spacing: 3px;
	margin-left: 10px;
}
.gift-Bg5 .text-join{
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-left: 10px;
}
.gift-Bg5 .text-join p{
	margin-top: 15px;
}
.gift-Bg4 .text-join p.red{
	color: #ff0000;
}




