@media screen and (min-width:770px) and (max-width:1019px){

.about_right_m .journa_xq_title {
    width: 94%;
    margin: 50px 3% 30px;
    box-sizing: border-box;
    padding: 0;
}
.about_right_m .not_xq_bod {
    width: 94%;
    margin: 0px 3%;
}

}