@media screen and (min-width:770px) and (max-width:1019px){
.about_right_m .Team_gdbj{
	height: 60px;
}
.about_right_m .Team_gdbj label {
    width: 210px;
    text-indent: 0px;
    text-align: center;
    font-size: 21px;
    height: 60px;
    line-height: 60px;
}
.about_right_m .Team_gdbj img {
    margin: 18px 12px;
	height: 24px;
}
.about_right_m .Team_gstd ul li {
    width: 100%;
    padding: 20px;
    padding-left: 120px;
    box-sizing: border-box;
    position: relative;
}
.about_right_m .Team_gstd ul li div {
    position: absolute;
    left: 20px;
    top: 20px;
}
.about_right_m .Team_gstd ul li h4,
.about_right_m .Team_gstd ul li p{
	width: 100%;
}

}
