@media screen and (min-width:770px) and (max-width:1019px){

	/*container*/
	body .content_body{
		width: 720px;
	}
	
	/*右侧内容*/
	.content_body .right_main {
	    width: 525px;
	    min-height: 1353px;
	    overflow: hidden;
	}
	.right_main .bonda_title{
		background-position: 135px 0px;
		transition: background-position .2s ease-out;
	}
	.right_main .bonda_title h2{
		margin-left: 20px;
	}
	.right_main .borwD_bod {
	    width: 100%;
	    padding: 0 15px;
	    margin: 0;
	    box-sizing: border-box;
	}
	.right_main .borwd_li_div{
		width: 100%;
		padding: 10px;
	    box-sizing: border-box;
	}
	.right_main .borwd_li_div table{
		width: 100%;
		margin: 0;
	}
	.right_main .borwd_li_div table td{
		padding: 10px 0;
		line-height: 20px;
	}
	.borwd_li_div table tr th:nth-of-type(5){
		display: none;
	}
	.borwd_li_div table tr td:nth-of-type(5){
		display: none;
	}

}
