@media screen and (min-width:770px) and (max-width:1019px){
body{width: 100%;}
*{transition: width .2s ease-out;}

/*top*/
.login_top .login_bod {width: 720px;}
.login_bod>div{ background-image: url(../img/icon/logo.png);width: 315px;background-position: 0px;}
.login_top .login_bod p {padding-left: 20px;margin-left: 20px;}


/*footer*/
body .log_ys{
	height: 80px;
}
body .log_ys ul{
	width: 720px;
}
body .log_ys ul li {
    width: 142px;
    padding-left: 95px;
	background-size: 80px 80px!important;
    margin-left: 2px;
}
body .log_ys li h3 {
    margin: 3px 0px 10px;
}
body .log_ys li p {
    width: 90%;
}

}
@media only screen and (max-width:769px),only screen and (max-device-width:769px){
	.zhp_pw{
		padding-bottom: 20px;
	}
}