@media only screen and (max-width:769px),only screen and (max-device-width:769px){

.about_right_m .journ_list {
    width: 94%;
    margin: 20px 3% 10px;
}
.about_right_m .journ_list li {
    width: 100%;
    box-sizing: border-box;
}
.about_right_m .journ_list li div{
	width: 100%;
	box-sizing: border-box;
	padding-right: 37px;
	background-position: right 37px;
}
.about_right_m .journ_list li div h3,
.about_right_m .journ_list li div label,
.about_right_m .journ_list li div p{
	width: 100%;
}

}
