@media only screen and (max-width:769px),only screen and (max-device-width:769px){
.links_tab table{
	min-width: 525px;
}
.right_main .links_font {
    width: 100%;
    padding: 20px 1%;
    box-sizing: border-box;
    background-size: 85px 85px!important;
}
.right_main .links_tab {
    width: 100%;
    padding: 20px 1%;
    box-sizing: border-box;
}
.right_main .links_tab table td{
	line-height: 18px;
}

}
