@media only screen and (max-width:769px),only screen and (max-device-width:769px){

.toin_body .wqhg_bod{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
}
.toin_body .wqhg_bod table{
	width: 100%;
	min-width: 700px;
}
.toin_body .wqhg_bod table th,
.toin_body .wqhg_bod table td{
    line-height: 20px;
}

}
